.bodyTag {
    background-color: #f0f4f7;
    font-family: Arial, sans-serif;
    color: #333;
}

.container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
}

form {
    display: flex;
    flex-direction: column;
}

label,
input,
select {
    margin-bottom: 15px;
}

input[type="text"],
select {
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
}

button[type="submit"] {
    margin-top: 20px;
    padding: 12px 24px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
    background-color: #45a049;
}

#snackbar {
    display: none;
    position: fixed;
    top: 20px;
    right: 20px;
    background-color: #333;
    color: #fff;
    padding: 16px;
    border-radius: 8px;
}

.form-group {
    margin-bottom: 30px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
}

.form-group input[type="file"] {
    width: 100%;
    padding: 15px;
    border: 2px solid #ddd;
    border-radius: 8px;
    background-color: #f9f9f9;
}

.form-group button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 12px 24px;
    border-radius: 5px;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 30px;
    padding: 15px;
    border-radius: 8px;
}

.success {
    background-color: #dff0d8;
    border-color: #d6e9c6;
    color: #3c763d;
}

.error {
    background-color: #f2dede;
    border-color: #ebccd1;
    color: #a94442;
}
#nextCallback {

height: 40px;
}
#taskAssignedAt {

height: 40px;
}
#otherSkills{
    height: 70px;
}
#detailedRemark{
    height: 70px;
}