.navbar {
  background-color: #3463bc;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.passClass {
  position: relative;
}
.passClassLogin {
  position: relative;
}

.passClassLogin .togglePasswordj {
  position: absolute !important;
  top: 18% !important;
  right: 4% !important;
  z-index: 999 !important;
  cursor: pointer !important;
}

i#togglePassword {
  position: absolute;
  top: 58%;
  right: 4%;
  z-index: 999;
  cursor: pointer;
}
.logo img {
  height: 40px;
}

.nav-links {
  display: flex;
  gap: 20px;
}
.panelType {
  color: #fff;
  font-size: 21px;
  font-weight: 600;
}
.nav-link {
  color: #fff;
  text-decoration: none;
  padding: 10px 15px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.nav-link:hover {
  background-color: #507ca8;
}

.admin-navbar,
.hr-navbar,
.manager-navbar,
.regular-navbar {
  display: none;
  /* Initially hide both navbars */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0f4f7;
  margin: 0;
  padding: 0;
}
.logo img {
  border-radius: 6px;
}
.logout-btn,
.logout-btn2,
.logout-btn3 {
  padding: 10px 20px;
  background-color: #ec8845; /* Red color */
  color: #fff;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  font-size: 16px;
}

.logout-btn:hover,
.logout-btn2:hover,
.logout-btn3:hover {
  background-color: #df5d6a; /* Darker red color on hover */
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3); /* Add a subtle shadow on hover */
}

.logout-btn:focus,
.logout-btn2:focus,
.logout-btn3:focus {
  outline: none; /* Remove outline on focus */
}

.logout-btn:active,
.logout-btn2:active,
.logout-btn3:active {
  transform: translateY(1px); /* Add a slight downward movement when clicked */
}
